<div class="screen bg-light">
  <div
    id="navbar"
    class="d-flex bg-primary text-bg-secondary align-items-center"
  >
    <span onclick="window.location.reload()">Entry Level Jobs</span>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <form
      id="filter"
      [formGroup]="filterForm"
      class="bg-primary d-flex flex-column align-items-center justify-content-center p-1"
      (ngSubmit)="onFilterChange()"
    >
      <div class="form-group">
        <select
          title="type"
          name="type"
          formControlName="type"
          class="form-select"
          id="type"
        >
          <option value="">Select Type</option>
          <ng-container *ngFor="let type of types">
            <option>{{ type["name"] }}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <select
          title="category"
          name="category"
          class="form-select"
          id="category"
          formControlName="category"
        >
          <option data-content value="">Select category</option>
          <ng-container *ngFor="let category of categories">
            <option>{{ category["name"] }}</option>
          </ng-container>
        </select>
      </div>
      <button
        class="form-group"
        type="submit"
        class="btn w-75 btn-primary form-label"
      >
        Filter
      </button>
    </form>
    <div>
      <div
        id="resp"
        class="d-flex flex-wrap justify-content-center align-items-center"
      >
        <div class="loader-backdrop">
          <div class="spinner-grow" *ngIf="loading"></div>
        </div>
        <ng-container *ngFor="let job of jobs">
          <app-card [job]="job"></app-card>
        </ng-container>
      </div>
      <app-pagination
        [filterForm]="filterForm"
        (onPageChange)="onPageChange()"
        [hasNextPage]="hasNextPage"
        [hasPreviousPage]="hasPreviousPage"
      ></app-pagination>
    </div>
  </div>
</div>
